#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
extensions:
	webloader: WebLoader\Nette\Extension
	translation: Kdyby\Translation\DI\TranslationExtension


parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days


translation:
	default: cs


services:
	routerFactory: App\RouterFactory(%productionMode%)
	router: @routerFactory::create()

	robotLoader: Nette\Loaders\RobotLoader()
	nette.latte: {setup: [setAutoRefresh(TRUE)]}
	nette.latteFactory: {setup: [setAutoRefresh(TRUE)]}

	- App\Navigation\INavigationControlFactory


includes:
	- webloader.neon
