parameters:
	clientVendorDir: %appDir%/../vendor-client

webloader:
	css:
		default:
			sourceDir: %wwwDir%/less
			files:
				- screen.less

			fileFilters:
				- @lessFilter

	js:
		default:
			sourceDir: %clientVendorDir%
			remoteFiles:
				- "//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
			files:
				- jquery/dist/jquery.min.js
				- bootstrap/dist/js/bootstrap.min.js
				- nette-forms/src/assets/netteForms.js
				- nette.ajax.js/nette.ajax.js
#				- %wwwDir%/js/mathjax.config.js
				- MathJax/MathJax.js
				- %wwwDir%/js/main.js

services:
	lessFilter: WebLoader\Filter\LessFilter
